<div>
	<div class="chess-board-round">
		<div class="player player-red" ng-class="{'player-turn':red.status == 3}">
			<span class="energy">
				{{red.energy}}
			</span>
			<img class="logo" src="img/logo/red.png"></img>
			<span class="text">
				{{red.playerName}}
			</span>
		</div>
		<div class="round">
			<div class="text">
				{{room.roundIndex}}
			</div>
		</div>
		<div class="player player-black" ng-class="{'player-turn':black.status == 3}">
			<span class="text">
				{{black.playerName}}
			</span>
			<img class="logo" src="img/logo/black.png"></img>
			<span class="energy">
				{{black.energy}}
			</span>
		</div>

	</div>
	<div class="chess-board-main">
		<!-- basic layer -->
		<div class="basic-layer">
			
		</div>
		<!-- tip layer -->
		<div class="tip-layer">
			
		</div>
		<!-- chess layer -->
		<div class="chess-layer">
			<chess ng-repeat="ch in room.chessList">
			</chess>
		</div>
		<!-- choose layer -->
		<div class="choose-layer">
			<choose-box ng-repeat ="posi in choosePosiList">
			</choose-box>
		</div>
		
	</div>

	<div class="skill-layer" ng-style="{'top':room.height*boxSize + roundLayerHeight +'rem'}">
		<skill ng-repeat ="sk in skillList" >
		</skill>
	</div>
</div>